body {
    background: radial-gradient(ellipse at bottom, #2B3E84 50%, #000 100%);
}

.nombre_pagina-home{
color: #2B3E84;
font-size: 20px;
font-family: "Luckiest Guy", cursive;
margin-left: 10px;
margin-top: 15px;
}

#title {
    font-family: "Luckiest Guy", cursive;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 10px 10px 10px;
}

.convertidor{
    font-family: "Luckiest Guy", cursive;
    color: #2B3E84;
    text-align: center;
}

.titulos {
font-size: 22px;
margin-top: 2%;
}
#uno{
    width: 80px;
    height: 15px;
    margin-top: 2%;
}
#dos{
    width: 80px;
    height: 15px;
}
#tres{
    width: 80px;
    height: 15px;
}
#valor{
    font-size: 20px;
    border-radius: 10%;
    margin-top: 2%;
    margin-right: 10px;
}
#cotizador{
    font-size: 20px;
    border-radius: 10%;
}

#divisas {
    font-size: 19px;
    width: 100%;
}

#pieDP{
    background-color: rgb(255, 255, 255);
    color: #2B3E84 ;
}

.logo_ph{
    width: 50px;
    height: 50px;
}

.buttonNavbar_ph{
    box-shadow: 0px 10px 14px -7px #276873;
    border-radius:8px;
    border: none;
    background:linear-gradient(to bottom, #599bb3 5%, #2B3E84 100%);
    color: whitesmoke;
    margin-right: 10px;
    text-decoration:none;
    font-family: Arial;
    text-shadow:0px 1px 0px #3d768a;
    font-size: 12px;
    padding: 7px;    
}

.textocolor {
    color: rgb(245, 244, 244);
    text-align: center; 
}

.container-pagina-home{
    height: 70rem;
}

#formulario_ph {
    background-color: rgba(217,217,217,0.5);
    border-radius: 20px 20px ;    
    position: absolute;
    color: white;
    width: 800px;
    height: 400px;
    left: 31%;
    top: 10%;
}

#ingresar-monto, #monto-recibir {
    box-shadow: 0px 10px 14px -7px #276873;
    border-radius:8px;
    background:linear-gradient(to bottom, #599bb3 5%, #2B3E84 100%);
    color: white;
    width: 200px;
    height: 30px;
    text-align: center;
    padding: 5px;
    
}

#tipo-cambio{
    box-shadow: 0px 10px 14px -7px #276873;
    border-radius:8px;
    background:linear-gradient(to bottom, #599bb3 5%, #2B3E84 100%);
    width: 250px;
    height: 30px;
    color: white;
    text-align: center;
    padding: 5px;
}


#sleccionDivisa {
    box-shadow: 0px 10px 14px -7px #276873;
    border-radius:8px;
    background:linear-gradient(to bottom, #599bb3 5%, #2B3E84 100%);
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    height: 30px;
}

#botonCambiar {
    box-shadow: 0px 10px 14px -7px #276873;
    border-radius:8px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(to bottom, #599bb3 5%, #2B3E84 100%);
    color: white;
    width: 250px;
    height: 30px;
    text-align: center;
}

#data {
    margin-left: 12%;
    margin-right: 5%;
    max-width: 30%;
    max-height: 30%;
    align-items: center;
  
}

#cartaCasa, #cartaCasa2, #cartaCasa3{
background-color: rgba(217,217,217,0.5);
border-radius: 20px 20px ;
color: white;
width: 401px;
height: 450px;
float: left;
top: 550px;
left: 110px;
margin-right: 120px;
align-items: center;

}

#CambioRecibirCasa1, #CambioRecibirCasa2, #CambioRecibirCasa3{
  
width: 300px;
height: 50px;
}

#infooRecibirCasa1, #infooRecibirCasa2, #infooRecibirCasa3{
width: 300px;
height: 150px;
justify-content: center;

}

#fotocartacasa{   
position: absolute;
align-content: center;
width: 150px;
height: 150px;
left: 170px;
top: 0px;
}

#botonlinkCCC{
box-shadow: 0px 10px 14px -7px #276873;
border-radius:8px;
border: none;
background:linear-gradient(to bottom, #599bb3 5%, #2B3E84 100%);
color: white;    
width: 170px;
height: 40px;
}